<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> </title>
    <link href="/static/chain/css/style.default.css" rel="stylesheet">
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>

<body>
    <header>
        <div class="headerwrapper">
            <div class="header-left">
                <a href="" class="logo">
                    <img src="/static/chain/images/logo.png" alt="">
                </a>
                <div class="pull-right">
                    <a href="#" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div><!-- header-left -->
            <div class="header-right">
                <div class="pull-right">
                </div><!-- pull-right -->
            </div><!-- header-right -->
        </div><!-- headerwrapper -->
    </header>
    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="#">
                        <img class="img-circle" src="/static/chain/images/photos/user1.png" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"></h4>
                        <small class="text-muted"></small>
                    </div>
                </div><!-- media -->
                <h5 class="leftpanel-title">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <!--<li><a href="/view_profile"><i class="fa fa-home"></i> <span>Profle</span></a></li>-->
                    <!--<li><a href="/viewtweets"><span class="pull-right badge"></span><i class="fa fa-envelope-o"></i>-->
                    <!--<span>Sentimental analysis</span></a></li>-->
                    <li class="parent"><a href="#"><i class="fa fa-suitcase"></i> <span>Department</span></a>
                        <ul class="children">
                            <li><a href="/Add_Department">Add</a></li>
                            <li><a href="/view_dept">View </a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-suitcase"></i> <span>Course</span></a>
                        <ul class="children">
                            <li><a href="/Add_course">Add</a></li>
                            <li><a href="/View_course">View </a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-suitcase"></i> <span>Student</span></a>
                        <ul class="children">
                            <li><a href="/Add_Student">Add</a></li>
                            <li><a href="/view_student">View </a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-suitcase"></i> <span>Questions</span></a>
                        <ul class="children">
                            <li><a href="/Add_Question">Add</a></li>
                            <li><a href="/view_question">View </a></li>
                        </ul>
                    </li>
                    <li><a href="/admView_allstu"><i class="fa fa-graduation-cap"></i> <span>Results</span></a></li>
                    <li><a href="/view_complaints"><i class="fa fa-graduation-cap"></i> <span>Complaints</span></a></li>
                    <li><a href="/"><i class="fa fa-graduation-cap"></i> <span>Logout</span></a></li>
                </ul>
            </div><!-- leftpanel -->
            <div class="mainpanel">
                <div class="pageheader">
                    <div class="media">
                        <div class="pageicon pull-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="media-body">
                            <ul class="breadcrumb">
                                <!-- <li><a href="#"></a></li>
                                <li><a href="#"></a></li> -->
                                <li></li>
                            </ul>
                            <h4>Welcome Admin</h4>
                        </div>
                    </div><!-- media -->
                </div><!-- pageheader -->
                <div class="contentpanel">
                    {% block body %}

                    {% endblock %}
                    <!-- CONTENT GOES HERE -->
                </div><!-- contentpanel -->
            </div>
        </div><!-- mainwrapper -->
    </section>
    <script src="/static/chain/js/jquery-1.11.1.min.js"></script>
    <script src="/static/chain/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/chain/js/bootstrap.min.js"></script>
    <script src="/static/chain/js/modernizr.min.js"></script>
    <script src="/static/chain/js/pace.min.js"></script>
    <script src="/static/chain/js/retina.min.js"></script>
    <script src="/static/chain/js/jquery.cookies.js"></script>
    <script src="/static/chain/js/custom.js"></script>

</body>

<!-- Mirrored from themetrace.com/demo/chain/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Sep 2019 02:55:33 GMT -->

</html>