{% extends 'admin/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-hover">
    <tr>
      <td>SL.NO</td>
      <td>Name</td>
      <td>phone</td>
      <td>Email</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{loop.index}}</td>
      <td>&nbsp;{{i["s_name"]}}</td>
      <td>&nbsp;{{i["s_phone"]}}</td>
      <td>&nbsp;{{i["s_email"]}}</td>
      <td><a href="/admView_stu_marks/{{i['lid']}}">Result</a></td>
    </tr>
      {% endfor%}
  </table>
</form>
{% endblock %}
