{% extends 'studindex.html' %}
{% block body %}

<!-- <body>
<table width="200" border="1">
  <tr>
    <td><a href="/View_profile">View profile</a></td>
  </tr>
  <tr>
    <td><a href="/Send_complaint">Send complaint</a></td>
  </tr>
  <tr>
    <td><a href="/View_reply">View Reply</a></td>
  </tr>
  <tr>
    <td><a href="/std_change">Change Password</a></td>
  </tr>
   <tr>
    <td><a href="/Levels">Test</a></td>
  </tr>
  <tr>
    <td><a href="/logout">Logout</a></td>
  </tr>

</table> -->

{% endblock %}
